.bg-black {
  background-color: #000000; }

.bg-white {
  background-color: #ffffff; }

.bg-dk-gray {
  background-color: #919191; }

.bg-md-gray {
  background-color: #cccccc; }

.bg-lt-gray {
  background-color: #eeeeee; }

.bg-dk-blue {
  background-color: #003442; }

.bg-lt-blue {
  background-color: #4f7272; }

.bg-crimson {
  background-color: #df3a32; }

.color-card-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0; }
  .color-card-row .color-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem; }
    .color-card-row .color-card .color-sample {
      display: block;
      width: 4rem;
      height: 4rem;
      padding: 0;
      border-radius: 100%; }
    .color-card-row .color-card .color-values {
      padding: 0.6rem 0 0; }

@media (min-width: 48rem) {
  .color-card-row {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .color-card-row .color-card {
      width: calc(34% - 2rem);
      margin: 1rem 2rem 1rem 0; }
    .color-card-row .color-card:nth-of-type(3n) {
      margin: 1rem 0; } }

@media (min-width: 64rem) {
  .color-card-row .color-card {
    width: calc(25.5% - 2rem); }
  .color-card-row .color-card:nth-of-type(3n) {
    margin: 1rem 2rem 1rem 0; }
  .color-card-row .color-card:nth-of-type(4n) {
    margin: 1rem 0; } }

@media (min-width: 90rem) {
  .color-card-row .color-card {
    width: calc(20.25% - 2rem); }
  .color-card-row .color-card:nth-of-type(3n) {
    margin: 1rem 2rem 1rem 0; }
  .color-card-row .color-card:nth-of-type(4n) {
    margin: 1rem 2rem 1rem 0; }
  .color-card-row .color-card:nth-of-type(5n) {
    margin: 1rem 0; } }

html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #000000; }

/*
@media (min-width: 77.5rem) {html {font-size: 20px;}}

@media (min-width: 90rem) {html {font-size: 22px;}}
*/
body, .body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0; }

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0; }
  .row .row.wide {
    padding: 1rem 0; }
  .row .row.fifty {
    padding: 1rem 0; }
  .row .row.golden.left {
    padding: 1rem 0; }
  .row .row.golden.right {
    padding: 1rem 0; }
  .row .row.thirds {
    padding: 1rem 0; }
  .row .row.fourths {
    padding: 1rem 0; }

.row > h1, .row > h2, .row > h3, .row > h4 {
  padding: 0 1rem 0.25rem; }

.row > h1 + p, .row > h2 + p, .row > h3 + p, .row > h4 + p {
  padding: 0.25rem 1rem 0; }

.row.wide {
  width: 100%;
  padding: 1rem; }
  .row.wide .column {
    width: 100%;
    padding: 0 1rem; }

.row.fifty {
  width: 100%;
  padding: 1rem; }
  .row.fifty .column {
    width: 100%; }
  .row.fifty .column:nth-of-type(1n) {
    padding: 0 1rem; }
  .row.fifty .column:nth-of-type(2n) {
    padding: 1rem 1rem 0; }

.row.golden.left, .row.golden.right {
  width: 100%;
  padding: 1rem; }
  .row.golden.left .column, .row.golden.right .column {
    width: 100%; }
  .row.golden.left .column:nth-of-type(1n), .row.golden.right .column:nth-of-type(1n) {
    padding: 0 1rem; }
  .row.golden.left .column:nth-of-type(2n), .row.golden.right .column:nth-of-type(2n) {
    padding: 1rem 1rem 0; }

.row.thirds {
  width: 100%;
  padding: 1rem; }
  .row.thirds .column {
    width: 100%; }
  .row.thirds .column:nth-of-type(1n) {
    padding: 0 1rem; }
  .row.thirds .column:nth-of-type(2n) {
    padding: 1rem 1rem 0; }
  .row.thirds .column:nth-of-type(3n) {
    padding: 1rem 1rem 0; }

.row.fourths {
  width: 100%;
  padding: 1rem; }
  .row.fourths .column {
    width: 100%; }
  .row.fourths .column:nth-of-type(1n) {
    padding: 0 1rem; }
  .row.fourths .column:nth-of-type(2n) {
    padding: 1rem 1rem 0; }
  .row.fourths .column:nth-of-type(3n) {
    padding: 1rem 1rem 0; }
  .row.fourths .column:nth-of-type(4n) {
    padding: 1rem 1rem 0; }

.column h1:first-child,
.column h2:first-child,
.column h3:first-child,
.column h4:first-child,
.column p:first-child {
  padding: 0; }

@media (min-width: 48rem) {
  .row {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap; }
  .row.fifty .column {
    width: 50%; }
  .row.fifty .column:nth-of-type(1n) {
    padding: 0 1rem; }
  .row.fifty .column:nth-of-type(2n) {
    padding: 0 1rem; }
  .row.golden.left .column:nth-of-type(1n) {
    width: 62%;
    padding: 0 1rem; }
  .row.golden.left .column:nth-of-type(2n) {
    width: 38%;
    padding: 0 1rem; }
  .row.golden.right .column:nth-of-type(1n) {
    width: 38%;
    padding: 0 1rem; }
  .row.golden.right .column:nth-of-type(2n) {
    width: 62%;
    padding: 0 1rem; }
  .row.thirds .column {
    width: 33.3%; }
  .row.thirds .column:nth-of-type(1n) {
    padding: 0 1rem; }
  .row.thirds .column:nth-of-type(2n) {
    padding: 0 1rem; }
  .row.thirds .column:nth-of-type(3n) {
    padding: 0 1rem; }
  .row.fourths .column {
    width: 50%; }
  .row.fourths .column:nth-of-type(1n) {
    padding: 0 1rem 1rem; }
  .row.fourths .column:nth-of-type(2n) {
    padding: 0 1rem 1rem; }
  .row.fourths .column:nth-of-type(3n) {
    padding: 1rem 1rem 0; }
  .row.fourths .column:nth-of-type(4n) {
    padding: 1rem 1rem 0; } }

@media (min-width: 64rem) {
  .row.fourths .column {
    width: 25%; }
  .row.fourths .column:nth-of-type(1n) {
    padding: 0 1rem; }
  .row.fourths .column:nth-of-type(2n) {
    padding: 0 1rem; }
  .row.fourths .column:nth-of-type(3n) {
    padding: 0 1rem; }
  .row.fourths .column:nth-of-type(4n) {
    padding: 0 1rem; } }

figure {
  display: grid;
  margin: 0;
  padding: 1rem 0; }
  figure figcaption + p {
    padding: 0 0 0.8rem; }
  figure pre {
    margin: 0;
    padding: 0 0 1rem;
    padding: 0;
    overflow-x: auto; }

/* 
  NOTES:  
  All headline classes are set to a 1.2 minor third type scale
  Body copy is set to a 1.25 major third type scale
*/
h1, h2, h3, h4, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal; }

h1, h2, h3, h4 {
  padding: 1rem 0 0;
  font-family: "Ovo", serif;
  font-weight: normal;
  line-height: 1.1; }

h1 {
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

h2 + h3,
h2 + p,
h3 + p,
h4 + p {
  padding: 0.25rem 0 0; }

p + h1, p + h2, p + h3, p + h4,
ul + h1, ul + h2, ul + h3, ul + h4,
ol + h1, ol + h2, ol + h3, ol + h4 {
  padding: 2rem 0 0; }

p {
  width: 100%;
  max-width: 39rem;
  padding: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.75; }

p > cite {
  display: block;
  font-size: 0.8rem;
  font-style: normal; }

p > cite a {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

strong, em, b {
  font-style: normal;
  font-weight: 700; }

small {
  font-size: 0.8rem; }

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  margin: 0 auto;
  text-align: center; }

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {
  text-align: right; }

@media (min-width: 48rem) {
  h1.title {
    font-size: 4.209rem; }
  h1.title + p {
    max-width: 48rem;
    font-size: 1.5rem; } }

ul, ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left; }

ul {
  list-style-type: disc; }

ul.no-bullets {
  padding: 0.8rem 0 0 0;
  list-style-type: none; }

ol {
  list-style-type: decimal; }

ul li, ol li {
  width: 100%;
  max-width: 39rem;
  padding: 0 0 1rem 0.25rem; }

ul li:last-child, ol li:last-child {
  padding: 0 0 0 0.25rem; }

a {
  color: #df3a32;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a:hover, a:focus {
  color: #003442; }

p a, small a, li a {
  font-weight: 700; }

figcaption {
  font-size: 0.64rem;
  font-weight: 700;
  text-transform: uppercase; }

figcaption + h1,
figcaption + h2,
figcaption + h3,
figcaption + h1 {
  padding: 0.25rem 0 0; }

pre {
  margin: 0.4rem 0 0;
  line-height: 1.2; }

p > code, li > code {
  font-size: 1rem;
  white-space: nowrap;
  background-color: #eeeeee; }

p > code.other {
  padding: 0.125rem 0.25rem; }
