// BADGES
.badge {
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 $spacing-xs;
  padding: $spacing-xs;
  border: 1px solid;
  border-radius: $border-radius-lg;
  font-size: 75%;
  line-height: 1.25;
}