@import "mixins";
@import "variables";


// HTML
html {
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  @include sans-regular;
  font-size: 16px;
  color: black;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-smoothing: auto;
}

@media (min-width: 90rem) {
  html {
    font-size: 18px;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  * {
    animation: none !important;
    @include transition(none !important);
  }
}


// BODY
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// GLOBAL
img {
  width: 100%;
  height: auto;
  margin: 0;
}

a {
  @include sans-bold;
  text-decoration: none;
  color: $primary;
  @include transition(color, 0.25s, ease);

  svg {
    fill: $primary;
    @include transition(fill, 0.25s, ease);
  }

  &:hover,
  &:focus {
    color: $secondary;

    svg {
      fill: $secondary;
    }
  }
}