// GLOBAL COLORS
$black: #000000;
$white: #ffffff;
$dk-gray: #5b5e6b;
$lt-gray: #e4e8ed;


// SYSTEM COLORS
$error: #c00c00;
$valid: #008000;


// BRAND COLORS
$dark-blue: #003442;
$pale-blue: #4f7272;
$crimson: #df3a32;
$cream: #e9eae9;

$primary: #df3a32;
$secondary: #003442;