// MAIN
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 5.5rem 1rem 0;
}

main > section.row:first-of-type {padding: 0 1rem 1rem;}


// LAYOUT
.row {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;
  .column {
    width: 100%;
    margin: 0;
    padding: 1rem;
    p:first-child {padding: 0 0 0.8rem;}
    figure:last-of-type {padding: 1rem 0 0;}
  }
}

.row.wide {
  width: 100%;
  padding: 1rem;
  .column {padding: 1rem 0;}
}

@media (min-width: 48rem) {
  .row {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .row.wide {
    .column {width: 100%}
  }
  .row.golden.left {
    .column {width: 61.8%;}
    .column:last-child {width: 38.2%}    
  }
  .row.golden.right {
    .column {width: 61.8%;}
    .column:first-child {width: 38.2%}
  }
  .row.fifty .column {width: 50%}
  .row.thirds .column {width: 33.3%;}
  .row.thirds .column:nth-of-type(2n) {padding: 1rem;}
  .row.fourths .column {width: 50%;}
  .row .column:first-child {padding: 1rem 1rem 1rem 0;}
  .row .column:last-child {padding: 1rem 0 1rem 1rem;}
  .row.fourths .column:nth-of-type(2n) {padding: 1rem 0 1rem 1rem;}
  .row.fourths .column:nth-of-type(3n) {padding: 1rem 1rem 1rem 0;}
  .row.fourths .column:nth-of-type(4n) {padding: 1rem 0 1rem 1rem;}
}

@media (min-width: 64rem) {
  .row.fourths .column {width: 25%;}
  .row.fourths .column:nth-of-type(2n) {padding: 1rem;}
  .row.fourths .column:nth-of-type(3n) {padding: 1rem;}
  .row.fourths .column:nth-of-type(4n) {padding: 1rem 0 1rem 1rem;}
}


// FIGURE
figure {
  display: grid;
  margin: 0;
  padding: 1rem 0;
  figcaption + p {padding: 0 0 0.8rem;}
  pre {
    margin: 0;
    padding: 0 0 1rem;
    padding: 0;
    overflow-x: auto;
  }
}

@media (min-width: 48rem) {
  .row figure.column,
  .row figure.column:last-child {padding: 1rem 0;}
}