// LAYOUT
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 5rem 0 0;
}

@media (min-width: 48rem) {
  main {padding: 4.5rem 0 0;}
}

.row {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;
	.row.wide {padding: 1rem 0;}
	.row.fifty {padding: 1rem 0;}
	.row.golden.left {padding: 1rem 0;}
	.row.golden.right {padding: 1rem 0;}
	.row.thirds {padding: 1rem 0;}
	.row.fourths {padding: 1rem 0;}
}

.row.fence:after {
  display: block;
  width: calc(100% - 2rem);
  height: 1px;
  margin: 2rem auto 0;
  background-color: #eeeeee;
  content: "";
}

.row.fence:last-of-type:after {
  display: none;
}

.row > h1, .row > h2, .row > h3, .row > h4 {padding: 0 1rem 0.25rem;}

.row > h1 + p, .row > h2 + p, .row > h3 + p, .row > h4 + p {padding: 0.25rem 1rem 0;}

.row.wide {
  width: 100%;
  padding: 1rem;
  .column {
    width: 100%;
    padding: 0 1rem;
  }
}

.row.fifty {
  width: 100%;
  padding: 1rem;
  .column {width: 100%;}
  .column:nth-of-type(1n) {padding: 0 1rem;}
  .column:nth-of-type(2n) {padding: 1rem 1rem 0;}
}

.row.golden.left, .row.golden.right {
  width: 100%;
  padding: 1rem;
  .column {width: 100%;}
  .column:nth-of-type(1n) {padding: 0 1rem;}
  .column:nth-of-type(2n) {padding: 1rem 1rem 0;}
}

.row.thirds {
  width: 100%;
  padding: 1rem;
  .column {width: 100%;}
  .column:nth-of-type(1n) {padding: 0 1rem;}
  .column:nth-of-type(2n) {padding: 1rem 1rem 0;}
  .column:nth-of-type(3n) {padding: 1rem 1rem 0;}
}

.row.fourths {
  width: 100%;
  padding: 1rem;
  .column {width: 100%;}
  .column:nth-of-type(1n) {padding: 0 1rem;}
  .column:nth-of-type(2n) {padding: 1rem 1rem 0;}
  .column:nth-of-type(3n) {padding: 1rem 1rem 0;}
  .column:nth-of-type(4n) {padding: 1rem 1rem 0;}
}

.column {
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  p:first-child {padding: 0;}
}

@media (min-width: 48rem) {
  .row {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .row.fifty {
    .column {width: 50%;}
    .column:nth-of-type(1n) {padding: 0 1rem;}
    .column:nth-of-type(2n) {padding: 0 1rem;}
  }
  .row.golden.left {
    .column:nth-of-type(1n) {
      width: 62%;
      padding: 0 1rem;
    }
    .column:nth-of-type(2n) {
      width: 38%;
      padding: 0 1rem;
    }
  }
  .row.golden.right {
    .column:nth-of-type(1n) {
      width: 38%;
      padding: 0 1rem;
    }
    .column:nth-of-type(2n) {
      width: 62%;
      padding: 0 1rem;
    }
  }
  .row.thirds {
    .column {width: 33.3%;}
    .column:nth-of-type(1n) {padding: 0 1rem;}
    .column:nth-of-type(2n) {padding: 0 1rem;}
    .column:nth-of-type(3n) {padding: 0 1rem;}
  }
  .row.fourths {
    .column {width: 50%;}
    .column:nth-of-type(1n) {padding: 0 1rem 1rem;}
    .column:nth-of-type(2n) {padding: 0 1rem 1rem;}
    .column:nth-of-type(3n) {padding: 1rem 1rem 0;}
    .column:nth-of-type(4n) {padding: 1rem 1rem 0;}
  }
}

@media (min-width: 64rem) {
  .row.fourths {
    .column {width: 25%;}
    .column:nth-of-type(1n) {padding: 0 1rem;}
    .column:nth-of-type(2n) {padding: 0 1rem;}
    .column:nth-of-type(3n) {padding: 0 1rem;}
    .column:nth-of-type(4n) {padding: 0 1rem;}
  }
}

figure {
  display: grid;
  margin: 0;
  padding: 1rem 0;
  figcaption + p {padding: 0 0 0.8rem;}
  pre {
    margin: 0;
    padding: 0 0 1rem;
    padding: 0;
    overflow-x: auto;
  }
}

.column > figure:first-child {padding: 0 0 1rem;}

p + figure {padding: 2rem 0 1rem;}