// TYPOGRAPHY
/* 
  NOTES:  
  All headline classes are set to a 1.2 minor third type scale
  Body copy is set to a 1.25 major third type scale
*/

h1, h2, h3, h4, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
}

h1, h2, h3, h4 {
  padding: 1rem 0 0;
  font-family: $font-head;
  font-weight: normal;
  line-height: 1.1;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {padding: 0;}

h1 {font-size: 3.157rem;}
h2 {font-size: 2.369rem;}
h3 {font-size: 1.777rem;}
h4 {font-size: 1.333rem;}

p {
  width: 100%;
  max-width: 39rem;
  padding: 0.8rem 0;
  font-size: 1rem;
  line-height: 1.75;
}

p:last-child {padding: 0.8rem 0 0;}

p > cite {font-style: normal;}

strong, em, b {
  font-style: normal;
  font-weight: 600;
}

small {font-size: 0.8rem;}

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  margin: 0 auto;
  text-align: center;
}

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {text-align: right;}

@media (min-width: 48rem) {
  h1.title {font-size: 4.209rem;}
  h1.title + p {
    max-width: 48rem;
    font-size: 1.5rem;
  }
  p > cite {font-size: 0.8rem;}
}


// LISTS
ul, ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0.8rem 0 0.8rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

ul:last-child, ol:last-child {padding: 0.8rem 0 0 1.5rem;}

ul {list-style-type: disc;}

ol {list-style-type: decimal;}

ul li, ol li {
  width: 100%;
  max-width: 39rem;
  padding: 0 0 1rem 0.25rem;
}

ul li:last-child, ol li:last-child {padding: 0 0 0 0.25rem;}


// TEXT LINKS
p a, small a, li a {font-weight: 600;}


// FIGURE TYPOGRAPHY
figcaption {
  font-size: 0.64rem;
  font-weight: 600;
  text-transform: uppercase;
}

figcaption + h1,
figcaption + h2,
figcaption + h3,
figcaption + h1 {padding: 0.25rem 0 0;}

pre {line-height: 1.2;}

p > code, li > code {
  font-size: 1rem;
  white-space: nowrap;
  background-color: $cream;
}

p > code.other {padding: 0.125rem 0.25rem;}