// BANNERS
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2rem;
  }
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
  }
}

.banner:first-of-type {z-index: 500;}

.banner.tall {min-height: 90vh;}
.banner.short {min-height: 45vh;}

.banner.light {color: $black;}
.banner.dark {
  color: $white;
  button:hover, button:focus {
    border-color: $white;
    color: $white;
  }
  a {color: $primary;}
  a:hover, a:focus {color: $white;}
  a:hover span svg, a:focus span svg {fill: $white;}
  a.button {color: $white;}
  a.button:hover, a.button:focus {
    border-color: $white;
    color: $white;
  }
}

.banner.split {
  z-index: 0;
  padding: 2rem 2rem 0;
  figure {padding: 0;}
  .text {padding: 2rem 0 0;}
}

.banner.split.border {padding: 2rem;}

.banner.split.border:after {
  display: block;
  position: absolute;
  bottom: 0;
  width: calc(100% - 4rem);
  height: 1px;
  margin: 2rem auto 0;
  background-color: $lt-gray;
  content: "";
}

@media (min-width: 48rem) {
  .banner {
    .text {
      width: auto;
      max-width: 65%;
      min-width: 50%;
    }
  }
  .banner.left {align-items: flex-start;}
  .banner.right {align-items: flex-end;}
  .banner.split {
    flex-direction: row;
    align-items: center;
    figure {padding: 0;}
    .text {
      padding: 0;
      margin: 0 0 0 2rem;
    }
  }
  .banner.split.reverse {
    flex-direction: row-reverse;
    .text {margin: 0 2rem 0 0;}
  }
}


// PHOTO BACKGROUNDS
.bg-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-photo.center {background-position: center center;}
.bg-photo.center-bottom {background-position: center bottom;}
.bg-photo.center-top {background-position: center top;}
.bg-photo.left-bottom {background-position: left bottom;}
.bg-photo.left-center {background-position: left center;}
.bg-photo.left-top {background-position: left top;}
.bg-photo.right-bottom {background-position: right bottom;}
.bg-photo.right-center {background-position: right center;}
.bg-photo.right-top {background-position: right top;}

@media (min-width: 48rem) {
  .no-touch .bg-photo.fixed {background-attachment: fixed;}
}