// FOOTERS
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0 1rem 1rem;
  h1 {display: none;}
  nav ul {
    flex-direction: column;
    height: auto;
    padding: 0;
    transform: translateX(0);
    li {
      padding: 0 0 1rem;
      text-align: center;
    }
    li:last-child {padding: 0;}
  }
  .row nav.column ul:last-child {padding: 0;}
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0 0.5rem;
    svg {width: 6rem;}
    h1 {
      display: block;
      font-size: 1.5rem;
    }
  }
  .github {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    a {line-height: 1;}
    a svg {
      fill: $primary;
      @include transition (all, 0.25s, ease);
    }
    a:hover svg,
    a:focus svg {fill: $secondary;}
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  .copyright.row {
    padding: 0 1rem 1rem;
    p {
      max-width: none;
      margin: 0 auto;
      padding: 0;
      font-size: 0.64rem;
      text-align: center;
    }
  }
}

footer:before {
  display: block;
  width: calc(100% - 2rem);
  height: 1px;
  margin: 1rem auto;
  background-color: $dk-gray;
  content: "";
}

@media (min-width: 48rem) {
  footer {
    padding: 0 2rem 2rem;
    nav ul li {
      font-size: 0.8rem;
      text-align: left;
    }
    .row {align-items: center;}
    .copyright.row {
      padding: 1rem 0 0;
      p {text-align: left;}
    }
  }
}