// HEADERS
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background-color: $white;
  h1 {display: none;}
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    width: 4rem;
    margin: 0 0 0 1rem;
    @include transition(all, 0.25s, ease);
    a {line-height: 0.7;}
  }
}

.headroom {
  @include transition(all, 0.25s, ease);
  will-change: transform
}

.headroom--pinned {@include transform(translateY(0));}

.headroom--unpinned {@include transform(translateY(-100%));}


// OPEN HEADER
header.open {
  nav {
    height: calc(100vh - 2rem);
    button.menu-toggle {
      svg.menu-toggle-open {width: 0;}
      svg.menu-toggle-close {width: 2rem;}
    }
    ul {
      height: auto;
      padding: 1rem 0 0;
      @include transform(translateX(0));
    }
  }
  .logo {@include transform(translateX(-10rem));}
}


@media (min-width: 48rem) {
  header {
    flex-direction: row;
    align-items: center;
    .logo {
      position: relative;
      top: auto;
    }
    nav ul {align-items: center;}
  }
}