// TABS
.tabs {
  display: block;
  padding: 2rem 2rem 0;
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: auto;
      margin: 0 0.5rem 0 0;
      padding: 0;
      button {
        margin: 0;
        border: none;
        border-bottom: 1px solid $primary;
        border-radius: 0;
        color: $primary;
        background-color: transparent;
      }
      button:hover, button:focus, button.is-active {
        border-bottom-width: 4px;
        color: $primary;
        background-color: transparent;
      }
    }
  }
  .panels {
    margin: 1rem 0 0;
    padding: 0;
    .panel {
      display: none;
      height: 0;
      padding: 0;
      @include transition(all, 0.325s, ease);
    }
    .panel.is-current {
      display: block;
      height: 100%;
      padding: 1rem;
      border: 1px solid $lt-gray;
      border-radius: 0.25rem;
      opacity: 1;
    }
  }
}