// GLOBAL COLORS
$black: #000000;
$white: #ffffff;
$dk-gray: #919191;
$md-gray: #cccccc;
$lt-gray: #eeeeee;


// BRAND COLORS
$dk-blue: #003442;
$lt-blue: #4f7272;
$crimson: #df3a32;

$primary: #df3a32;
$secondary: #003442;


// SYSTEM COLORS
$error: #c00c00;
$valid: #008000;


// BACKGROUND-COLOR APPLICATION
.bg-black {background-color: $black;}
.bg-white {background-color: $white;}
.bg-dk-gray {background-color: $dk-gray;}
.bg-md-gray {background-color: $md-gray;}
.bg-lt-gray {background-color: $lt-gray;}
.bg-dk-blue {background-color: $dk-blue;}
.bg-lt-blue {background-color: $lt-blue;}
.bg-crimson {background-color: $crimson;}

.bg-primary {background-color: $primary;}
.bg-secondary {background-color: $secondary;}

.bg-error {background-color: $error;}
.bg-valid {background-color: $valid;}


// SELECTION
::-moz-selection {
  color: $white;
  background: $primary;
}

::selection {
  color: $white;
  background: $primary;
}