// BANNERS
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 500;
  width: 100%;
  height: auto;
  margin: 0;
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2rem;
  }
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
  }
}

.banner.tall {min-height: 90vh;}
.banner.short {min-height: 45vh;}

.banner.light {color: $black;}
.banner.dark {color: $white;}

@media (min-width: 48rem) {
  .banner {
    .text {
      width: auto;
      max-width: 65%;
      min-width: 50%;
    }
  }
  .banner.left {align-items: flex-start;}
  .banner.right {align-items: flex-end;}
}


// PHOTO BACKGROUNDS
.bg-photo {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-photo.center {background-position: center center;}
.bg-photo.center-bottom {background-position: center bottom;}
.bg-photo.center-top {background-position: center top;}
.bg-photo.left-bottom {background-position: left bottom;}
.bg-photo.left-center {background-position: left center;}
.bg-photo.left-top {background-position: left top;}
.bg-photo.right-bottom {background-position: right bottom;}
.bg-photo.right-center {background-position: right center;}
.bg-photo.right-top {background-position: right top;}

@media (min-width: 48rem) {
  .bg-photo.fixed {background-attachment: fixed;}
}