// TABS
/*
ul.tabs {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;
  padding: 1rem 0 0;
  @include font-bold;
  font-size: 0.8rem;
  li {
    width: auto;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    @include transition(all, 0.25s, ease);
  }
  li:hover, li:focus {background-color: $lt-gray;}
  li a, li a:hover, li a:focus {
    color: $black;
    text-decoration: none;
  }
}

.tab-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  .tab {
    width: 0;
    height: 0;
    @include transform(scale(0));
    @include transition(all, 0.25s, ease);
  }
  .tab.show {
    width: 100%;
    height: 100%;
    @include transform(scale(1));
  }
}
*/