// FOOTER
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: $spacing-xl $spacing-lg;
  nav {
    width: 100%;
    padding: 0;
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      color: $secondary;
      @include transition(all, 0.325s, ease);
      &:last-child {padding: 0;}
      li {
        padding: 0 0 $spacing-md 0;
        @include font-body-bold;
        a {
          border-bottom: none;
          text-decoration: none;
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .brand-content {
    margin: $spacing-lg auto 0;
    h2 {
      padding: $spacing-md 0 0;
      font-size: $h3;
      text-align: center;
    }
    ul.social {
      flex-direction: row;
      justify-content: center;
      padding: 0;
      list-style: none;
      li {
        display: grid;
        width: auto;
        padding: $spacing-xs;
        text-align: center;
        a {
          border-bottom: none;
          text-decoration: none;
          &:after {
            display: none;
          }
        }
        span {
          display: none;
        }
        svg {
          display: grid;
          width: 2rem;
        }
      }
    }
    small {
      padding-bottom: 0;
      font-size: $xsmall;
      text-align: center;
    }
    .logo {
      display: grid;
      max-width: 6rem;
      margin: 0 auto;
    }
  }
}

@media (min-width: 48rem) {
  footer {
    padding: $spacing-xl;
    nav {
      width: 40%;
      ul {
        font-size: $small;
        li {
          padding: 0 0 $spacing-sm;
          &:last-child {
            padding: 0;
          }
        }
      }
    }
    .brand-content {
      width: 60%;
      margin: 0;
      h2, small {
        margin: 0 0 0 auto;
        text-align: right;
      }
      ul.social {
        justify-content: flex-end;
        margin: 0 0 0 auto;
      }
      .logo {
        margin: 0 0 0 auto;
      }
    }
  }
}