// BADGES
span.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 1rem);
  padding: 0 0.75rem;
  border-radius: 1rem;
  @include font-bold;
  font-size: 0.8rem;
}


// ACCORDION BADGES
.accordion label span.badge {
  right: 1.5rem;
  height: 100%;
}

span.badge.bg-black,
span.badge.bg-primary,
span.badge.bg-secondary,
span.badge.bg-lt-blue,
span.badge.bg-error,
span.badge.bg-valid {
  color: $white;
}