// BREADCRUMBS
nav.breadcrumbs {
  padding: 1rem 0;
  ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    overflow-x: scroll;
    list-style-type: none;
    li {
      display: flex;
      width: auto;
      padding: 0;
      white-space: nowrap;
    }
    li a {text-decoration: none;}
    li:after {
      display: block;
      padding: 0 0.25rem;
      content: "/";
    }
    li:last-child:after {display: none;}
  }
}

@media (min-width: 48rem) {
  nav.breadcrumbs {
    ol {overflow-x: auto;}
  }
}