// BUTTONS
button, .button {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  max-height: 2.5rem;
  overflow: hidden;
  margin: 1rem 0 0;
  padding: 0.75rem 1.25rem;
  border: 1px solid $primary;
  border-radius: 0.25rem;
  font-family: $font-body;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: capitalize;
  color: $white;
  background-color: $primary;
  white-space: nowrap;
  cursor: pointer;
  @include transition(all, 0.25s, ease);
  svg {
    margin: 0;
    height: 1rem;
    fill: $white;
  }
}

button + button {margin: 0 0 0 1rem;}

button:hover, button:focus,
.button:hover, .button:focus {
  background-color: transparent;
}

button:hover, button:focus,
.button:hover, .button:focus {
  color: $primary;
  svg {fill: $primary;}
}


// SECONDARY COLOR SETTINGS
button.secondary, .button.secondary {
  border: 1px solid $secondary;
  background-color: $secondary;
  svg {fill: $white;}
}

button.secondary:hover, button.secondary:focus,
.button.secondary:hover, .button.secondary:focus {
  color: $secondary;
  background-color: $white;
  svg {fill: $secondary;}
}


// REVERSE COLOR SETTINGS
button.reverse, .button.reverse {
  color: $primary;
  background-color: $white;
  svg {fill: $primary;}
}

button.reverse:hover, .button.reverse:hover,
button.reverse:focus, .button.reverse:focus {
  color: $white;
  background-color: $primary;
  svg {fill: $white;}
}

button.secondary.reverse, .button.secondary.reverse {
  color: $secondary;
  background-color: $white;
  svg {fill: $secondary;}
}

button.secondary.reverse:hover, .button.secondary.reverse:hover,
button.secondary.reverse:focus, .button.secondary.reverse:focus {
  color: $white;
  background-color: $secondary;
  svg {fill: $white;}
}


// DISABLED BUTTON SETTINGS
button:disabled, button.secondary:disabled {
  border-color: $lt-gray;
  background-color: $lt-gray;
  cursor: not-allowed;
  svg {fill: $white;}
}
button:hover:disabled, button:focus:disabled,
button.secondary:hover:disabled, button.secondary:focus:disabled {color: $white;}
button.reverse:disabled, button.secondary.reverse:disabled {
  border-color: $lt-gray;
  color: $lt-gray;
  background-color: $white;
  svg {fill: $white;}
}