// CHIPS
ul.chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0 0;
  font-size: 0.8rem;
  list-style-type: none;
  text-align: left;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0;
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 2rem;
      max-height: 2rem;
      padding: 0 1rem;
      border-radius: 2rem;
      @include font-body;
      color: $black;
      background-color: $lt-gray;
      @include transition(all, 0.25s, ease);
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 2rem;
      max-height: 2rem;
      margin: 0;
      padding: 0 1rem;
      border: none;
      border-radius: 2rem;
      @include font-body;
      color: $black;
      background-color: $lt-gray;
      cursor: pointer;
      @include transition(all, 0.25s, ease);
      svg.check {
        width: 0;
        margin: 0;
        fill: $black;
        @include transform(scale(0));
        @include transition(all, 0.25s, ease);
      }
      svg.check.show {
        width: 1rem;
        margin: 0 0.25rem 0 0;
        @include transform(scale(1));
      }
    }
    button:hover, button:focus {background-color: $dk-gray;}
  }
  li.icon-left {
    span {
      padding: 0 1rem 0 0.25rem;
      svg {
        margin: 0 0.5rem 0 0;
        fill: $dk-gray;
      }
    }
  }
  li.icon-right {
    span {
      padding: 0 0.25rem 0 1rem;
      svg {
        margin: 0 0 0 0.5rem;
        fill: $dk-gray;
      }
    }
  }
  li.avatar {
    span {
      padding: 0 1rem 0 0;
      img {
        width: 2rem;
        height: 2rem;
        margin: 0 0.5rem 0 0;
        border-radius: 100%;
      }
    }
  }
}

ul.chips.dismiss {
  li {
    justify-content: flex-start;
    @include transition(all, 0.25s, ease);
    span {
      padding: 0 0.25rem 0 1rem;
      button {
        padding: 0;
        background-color: transparent;
        svg {
          fill: $black;
          @include transition(all, 0.25s, ease);
        }
      }
      button:hover, button:focus {
        svg {fill: $dk-gray;}
      }
    }
  }
  li.dismissed {
    width: 0;
    margin: 0;
    @include transform(scale(0));
  }
  li.dismiss-reset span {
    padding: 0 0.75rem;
    cursor: pointer;
    @include transition(all, 0.25s, ease);
  }
  li.dismiss-reset span:hover, li.dismiss-reset span:focus {background-color: $dk-gray;}
  li.avatar {
    justify-content: flex-start;
    @include transition(all, 0.25s, ease);
    span {
      padding: 0 0.25rem 0 0;
      button {
        padding: 0 0 0 0.25rem;
        background-color: transparent;
        svg {
          fill: $black;
          @include transition(all, 0.25s, ease);
        }
      }
      button:hover, button:focus {
        svg {fill: $dk-gray;}
      }
    }
  }
  li.icon-left {
    span {
      padding: 0 0.25rem;
      button svg {margin: 0;}
    }
  }
  li.icon-right {
    span {
      padding: 0 0.25rem 0 1rem;
      button svg {margin: 0;}
    }
  }
}


/* CHIP COLOR OPTIONS */
ul.chips.bg-primary {
  background-color: transparent;
  li {
    button, span {
      color: $white;
      background-color: $primary;
      svg {fill: $white;}
    }
    button:hover, button:focus {background-color: $secondary;}
  }
}

ul.chips.dismiss.bg-primary {
  background-color: transparent;
  li, li.avatar {
    button, span {
      color: $white;
      background-color: $primary;
      svg {fill: $white;}
    }
    button:hover, button:focus {background-color: transparent;}
  }
}

ul.chips.bg-secondary {
  background-color: transparent;
  li {
    button, span {
      color: $white;
      background-color: $secondary;
      svg {fill: $white;}
    }
    button:hover, button:focus {background-color: $primary;}
  }
}

ul.chips.dismiss.bg-secondary {
  background-color: transparent;
  li, li.avatar {
    button, span {
      color: $white;
      background-color: $secondary;
      svg {fill: $white;}
    }
    button:hover, button:focus {background-color: transparent;}
  }
}