// FIGURES
figure {
  display: grid;
  width: 100%;
  max-width: 39rem;
  overflow: hidden;
  margin: 0;
  padding: 1rem 0;
  pre {
    margin: 0;
    padding: 0 0 1rem;
    padding: 0;
    overflow-x: auto;
  }
  figcaption {
    @include font-bold;
    font-size: 0.64rem;
    text-transform: uppercase;
  }
  figcaption > cite {
    display: inline-block;
    padding: 1rem 0 0;
    @include font-body;
    font-size: 0.8rem;
    font-style: normal;
    text-transform: none;
  }
  figcaption > cite a {@include font-bold;}
}

figure:last-child {padding: 1rem 0 0;}

.column > figure, .row > figure {padding: 0 0 1rem;}
.column > figure:last-child, .row > figure:last-child {padding: 0;}

.column p + figure:last-child {padding: 1rem 0 0;}

.row > p + figure {padding: 1rem 0;}
.row > p + figure:last-child {padding: 1rem 0 0;}