// PAGINATION
nav.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  ul {
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    overflow: scroll;
    border: 1px solid $lt-gray;
    border-radius: 0.25rem;
    font-size: 1rem;
    @include transform(translateX(0));
    li {
      min-width: 3rem;
      padding: 0.5rem 0.75rem;
      border-right: 1px solid $lt-gray;
      text-align: center;
      @include transition(all, 0.25s, ease);
    }
    li:last-child {
      padding: 0.5rem 0.75rem;
      border-right: none;
    }
    li:hover, li:focus {background-color: $lt-gray;}
    li.current {background-color: $primary;}
    li.current a {
      color: white;
      cursor: inherit;
    }
    li.disabled:hover, li.disabled {background-color: transparent;}
    li.disabled a {
      color: $md-gray;
      cursor: inherit;
    }
    li.first, li.previous, li.next, li.last {min-width: inherit;}
  }
}

nav.pagination.left {justify-content: flex-start;}