// BACKGROUND-COLOR APPLICATION
.bg-black {background-color: black;}
.bg-white {background-color: white;}
.bg-dk-gray {background-color: $dk-gray;}
.bg-md-gray {background-color: $md-gray;}
.bg-lt-gray {background-color: $lt-gray;}
.bg-dk-blue {background-color: $dk-blue;}
.bg-lt-blue {background-color: $lt-blue;}
.bg-crimson {background-color: $crimson;}

.bg-primary {background-color: $primary;}
.bg-secondary {background-color: $secondary;}

.bg-invalid {background-color: $invalid;}
.bg-valid {background-color: $valid;}


// SELECTION
::-moz-selection {
  color: white;
  background: $primary;
}

::selection {
  color: white;
  background: $primary;
}