// FONTS
$font-head: ("Ovo", serif);
$font-body: ("Montserrat", sans-serif);

@mixin font-head {
  font-family: $font-head;
  font-style: normal;
  font-weight: 400;
}

@mixin font-body {
  font-family: $font-body;
  font-style: normal;
  font-weight: 400;
}

@mixin font-body-bold {
  font-family: $font-body;
  font-style: normal;
  font-weight: 700;
}