// MAIN
/*
main:after {
  display: block;
  width: calc(100% - calc(4 * #{$spacing-lg}));
  height: 1px;
  margin: $spacing-xl auto 0;
  background-color: $md-gray;
  content: "";
}
*/


// ROWS
.row {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	margin: 0;
  padding: $spacing-lg $spacing-sm 0;
  &:first-child {
    padding: 0 $spacing-sm;
  }
  &.center-v {
    align-items: center;
  }
  &.center-h {
    justify-content: center;
  }
  .row {
    width: calc(100% + #{$spacing-lg});
    margin: 0 calc(#{$spacing-sm} * -1);
    padding: $spacing-lg 0 0;
  }
  .column {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: $spacing-lg $spacing-sm 0;
    &:first-child {
      padding: 0 $spacing-sm;
    }
    .row {
      .column:first-child {
        padding: $spacing-lg $spacing-sm 0;
      }
    }
  }
}

@media (min-width: 48rem) {
  .row {
    padding: $spacing-xl $spacing-lg 0;
    &:first-child {
      padding: 0 $spacing-lg;
    }
    .row {
      width: calc(100% + #{$spacing-xl});
      margin: 0 calc(#{$spacing-lg} * -1);
      padding: $spacing-lg 0 0;
    }
    .column {
      padding: $spacing-lg $spacing-md 0;
      &.span-12 {width: calc((100% / 12) * 12);}
      &.span-11 {width: calc((100% / 12) * 11);}
      &.span-10 {width: calc((100% / 12) * 10);}
      &.span-9 {width: calc((100% / 12) * 9);}
      &.span-8 {width: calc((100% / 12) * 8);}
      &.span-7 {width: calc((100% / 12) * 7);}
      &.span-6 {width: calc((100% / 12) * 6);}
      &.span-5 {width: calc((100% / 12) * 5);}
      &.span-4 {width: calc((100% / 12) * 4);}
      &.span-3 {width: calc((100% / 12) * 3);}
      &.span-2 {width: calc((100% / 12) * 2);}
      &.span-1 {width: calc((100% / 12) * 1);}
      &:first-child {
        padding: 0 $spacing-md;
      }
      .row {
        .column:first-child {
          padding: $spacing-lg $spacing-md 0;
        }
      }
    }
  }
}


// USE THESE TO GO FROM 4-COL TO 8-COL TO 12-COL
/*
@media (min-width: 48rem) {
  .row {
    padding: $spacing-xl $spacing-lg 0;
    &:first-child {
      padding: 0 $spacing-lg;
    }
    .row {
      width: calc(100% + #{$spacing-xl});
      margin: 0 calc(#{$spacing-lg} * -1);
      padding: $spacing-lg 0 0;
    }
    .column {
      padding: $spacing-lg $spacing-lg 0;
      &.span-12 {width: calc((100% / 8) * 8);}
      &.span-11 {width: calc((100% / 8) * 8);}
      &.span-10 {width: calc((100% / 8) * 8);}
      &.span-9 {width: calc((100% / 8) * 8);}
      &.span-8 {width: calc((100% / 8) * 8);}
      &.span-7 {width: calc((100% / 8) * 7);}
      &.span-6 {width: calc((100% / 8) * 6);}
      &.span-5 {width: calc((100% / 8) * 5);}
      &.span-4 {width: calc((100% / 8) * 4);}
      &.span-3 {width: calc((100% / 8) * 3);}
      &.span-2 {width: calc((100% / 8) * 2);}
      &.span-1 {width: calc((100% / 8) * 1);}
      &:first-child {
        padding: 0 $spacing-lg;
      }
      .row {
        .column:first-child {
          padding: $spacing-lg $spacing-lg 0;
        }
      }
    }
  }
}

@media (min-width: 80rem) {
  .row {
    .column {
      &.span-12 {width: calc((100% / 12) * 12);}
      &.span-11 {width: calc((100% / 12) * 11);}
      &.span-10 {width: calc((100% / 12) * 10);}
      &.span-9 {width: calc((100% / 12) * 9);}
      &.span-8 {width: calc((100% / 12) * 8);}
      &.span-7 {width: calc((100% / 12) * 7);}
      &.span-6 {width: calc((100% / 12) * 6);}
      &.span-5 {width: calc((100% / 12) * 5);}
      &.span-4 {width: calc((100% / 12) * 4);}
      &.span-3 {width: calc((100% / 12) * 3);}
      &.span-2 {width: calc((100% / 12) * 2);}
      &.span-1 {width: calc((100% / 12) * 1);}
    }
  }
}
*/


// BORDERS
.border:after {
  display: block;
  width: 100%;
  height: 1px;
  margin: $spacing-lg auto 0;
  background-color: $lt-gray;
  content: "";
}

.border.top:after {
  display: none;
}

.border.top:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 0 auto $spacing-lg;
  background-color: $lt-gray;
  content: "";
}


// SKIP
.skip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  p {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    a {
      display: block;
      width: 100%;
      padding: 0;
      text-decoration: none;
      text-transform: uppercase;
      background: white;
      opacity: 0;
      &:focus {
        padding: $spacing-xl;
        opacity: 1;
      }
      &:after {
        display: none;
      }
    }
  }
}