// MIXINS
@mixin transition($property: all, $duration: 0.25s, $timing: ease-in-out, $delay: 0s) {
  -webkit-transition: $property $duration $timing $delay;
  -moz-transition: $property $duration $timing $delay;
  -ms-transition: $property $duration $timing $delay;
  -o-transition: $property $duration $timing $delay;
  transition: $property $duration $timing $delay;
};

@mixin transform($transform: all) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};

@mixin transform-origin($transform-origin: all) {
  -webkit-transform-origin: $transform-origin;
  -moz-transform-origin: $transform-origin;
  -ms-transform-origin: $transform-origin;
  -o-transform-origin: $transform-origin;
  transform-origin: $transform-origin;
};

@mixin appearance($appearance: none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
};

@mixin animation-delay($delay: 1s) {
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
};

@mixin animation-duration($duration: 0.25s) {
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
};

@mixin animation-fill-mode($animation-fill-mode: both) {
  -webkit-animation-fill-mode: $animation-fill-mode;
  animation-fill-mode: $animation-fill-mode;
};

@mixin animation-iteration-count($iteration) {
  -webkit-animation-iteration-count: $iteration;
  animation-iteration-count: $iteration;
};

@mixin animation-name($name: name) {
  -webkit-animation-name: $name;
  animation-name: $name;
};

@mixin transition-timing-function($transition-timing: ease-in) {
  -webkit-transition-timing-function: $transition-timing;
  -o-transition-timing-function: $transition-timing;
  transition-timing-function: $transition-timing;
};