// TYPOGRAPHY
/* 
  NOTES:  
  All headline classes are set to a 1.2 minor third type scale
  Body copy is set to a 1.25 major third type scale
*/

h1, h2, h3, h4, p, small {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  @include font-head;
  line-height: 1.1;
}

h1 {
  padding: $spacing-xl 0 0;
	font-size: $h1;
}

h2 {
  max-width: 64rem;
  padding: calc(1.5 * #{$spacing-lg}) 0 0;
	font-size: $h2;
}

h3 {
  max-width: 48rem;
  padding: calc(1.25 * #{$spacing-lg}) 0 0;
	font-size: $h3;
}

h4 {
  max-width: 40rem;
  padding: $spacing-lg 0 0;
	font-size: $h4;
}

p {
  max-width: 36rem;
  padding: $spacing-lg 0 0;
	font-size: $p;
  line-height: 1.5;
}

p > cite {
  display: block;
  font-size: $small;
  font-style: normal;
}

p > cite a {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

strong, em, b {
  display: inline;
  @include font-body-bold;
  color: inherit;
}

small, .small {
  max-width: 26rem;
  padding: $spacing-sm 0;
	font-size: $small;
	line-height: 1.5;
}

.xsmall {
  max-width: 24rem;
  padding: $spacing-sm 0;
	font-size: $xsmall;
	line-height: 1.5;
}

.visuallyhidden {display: none;}

@media (min-width: 48rem) {
  h1.title {
    max-width: 72rem;
    margin: 0;
    font-size: $h1-title;
    & + p {
      max-width: 48rem;
      font-size: calc(1.5 * #{$p});
    }
  }
  h2.title {
    max-width: 48rem;
    margin: 0;
    font-size: $h2-title;
    & + p {
      max-width: 40rem;
      font-size: calc(1.25 * #{$p});
    }
    &:first-of-type {
      font-size: $h1-title;
    }
  }
  h3.title {
    font-size: $h2;
  }
}


//HEADING SPANS
h1 span, h2 span, h3 span, h4 span {
  display: block;
	@include font-body-bold;
	line-height: 1;
	text-transform: uppercase;
}

h1 span {
  padding-bottom: calc(0.125 * #{$h1});
	font-size: calc(0.325 * #{$h1});
}

h2 span {
  padding-bottom: calc(0.125 * #{$h2});
	font-size: calc(0.325 * #{$h2});
}

h3 span {
  padding-bottom: calc(0.125 * #{$h3});
	font-size: calc(0.325 * #{$h3});
}

h4 span {
  padding-bottom: calc(0.225 * #{$h4});;
	font-size: calc(0.425 * #{$h4});
}


// TEXT ALIGNMENT
h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  margin: 0 auto;
  text-align: center;
}

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {text-align: right;}


// LISTS
ul, ol, dl {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 36rem;
  margin: 0;
  padding: 0;
  list-style: none;
  li, dt, dd {
    display: list-item;
    width: 100%;
    margin: 0;
    padding: $spacing-sm 0;
    line-height: 1.5;
  }
}

ul {
  padding: $spacing-lg 0 $spacing-lg calc(1.5 * #{$spacing-lg});
  list-style: disc;
  &:last-child {
    padding: $spacing-lg 0 0 calc(1.5 * #{$spacing-lg});
  }
}

ol {
  padding: $spacing-lg 0;
  list-style: none;
  counter-reset: count;
  &:last-child {
    padding: $spacing-lg 0 0;
  }
  li {
    display: flex;
    align-items: center;
    span {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      position: relative;
      width: auto;
      min-width: 3.5rem;
      margin: 0;
    }
    span::before {
      display: flex;
      align-items: center;
      flex: 0 1 auto;
      margin: 0 $spacing-lg 0 0;
      border-right: 1px solid;
      @include font-body-bold;
      font-size: 150%;
      counter-increment: count;
      content: "0" counter(count);
    }
  }
}

dl {
  padding: $spacing-lg 0;
  &:last-child {
    padding: $spacing-lg 0 0;
  }
  dt {
    padding: 0;
    @include font-body-bold;
  }
  dd {
    padding: 0 0 calc(1.5 * #{$spacing-lg});
    &:last-of-type {
      padding: 0;
    }
  }
}


// PADDING MODIFIERS
h1 + p, h2 + p, h3 + p, h4 + p,
h1 + ol, h2 + ol, h3 + ol, h4 + ol,
h1 + ul, h2 + ul, h3 + ul, h4 + ul,
h1 + dl, h2 + dl, h3 + dl, h4 + dl, {padding-top: $spacing-xs;}

h1 + h2 {padding-top: $spacing-lg;}

h2 + h3 {padding-top: $spacing-xs;}

h1.visuallyhidden + p, h2.visuallyhidden + p, h3.visuallyhidden + p, h4.visuallyhidden + p {padding: 0;}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, p:first-child {padding-top: 0;}

p:last-child {padding-bottom: 0;}


// TEXT LINK STYLES
a {
  //display: inline-block;
  line-height: inherit;
  color: $primary;
  @include transition(all, 0.25s, ease);
  &:hover, &:focus {
    color: $secondary;
  }
}

h1 a, h2 a, h3 a, h4 a {text-decoration: none;}

p a, small a, li a {
  position: relative;
  @include font-body-bold;
  text-decoration: underline;
}


// INLINE ANCHOR LINKS & ICONS
span.anchor {
  display: inline-block;
  padding: 0;
  a {
    color: transparent;
    &:hover, &:focus {
      color: $secondary;
    }
  }
  span.icon {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

h2 > span.anchor {
  width: calc(1.5 * #{$spacing-lg});
  height: calc(1.5 * #{$spacing-lg});
  margin: 0 auto 0 $spacing-sm;
}

h3 > span.anchor {
  width: $spacing-lg;
  height: $spacing-lg;
  margin: 0 auto 0 $spacing-xs;
}

h4 > span.anchor,
p > span.anchor,
ul li > span.anchor,
ol li > span.anchor,
dl dt > span.anchor {
  width: $spacing-lg;
  height: $spacing-lg;
  margin: 0 auto 0 $spacing-xs;
}

h2:hover > span.anchor a, h2:focus > span.anchor a,
h3:hover > span.anchor a, h3:focus > span.anchor a,
h4:hover > span.anchor a, h4:focus > span.anchor a,
p:hover > span.anchor a, p:focus > span.anchor a,
ul li:hover > span.anchor a, ul li:focus > span.anchor a,
ol li:hover > span.anchor a, ol li:focus > span.anchor a,
dl dt:hover > span.anchor a, dl dt:focus > span.anchor a {
  color: $primary;
  &:hover, &:focus {
    color: $secondary;
  }
}


// CODE
pre {
  margin: 0.4rem 0 0;
  line-height: 1.2;
}

p > code, li > code, dd > code {
  margin: 0;
  padding: calc(#{$spacing-xs / 2}) $spacing-xs;
  border-radius: $border-radius-xs;
  font-family: "Liberation Mono",courier,monospace;
  white-space: nowrap;
  background-color: $lt-gray;
}

li > code {padding: calc(#{$spacing-xs} / 5) $spacing-xs;}