/*
FORM ELEMENTS
  resets
  fieldset
  input, label, placeholder
  select
  checkbox
  radio button
  toggle switches
  buttons
  show-hide password
*/


// RESETS
input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="select"],
input[type="search"],
input[type="radio"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="text"],
input[type="tel"],
input[type="url"] {
  font-size: 1rem;
  @include appearance(none);
  @include transition(all, 0.25s, ease);
}


// FIELDSET
fieldset {
  position: relative;
  width: 100%;
  max-width: 36rem;
  margin: 1rem 0 0;
  padding: 1.5rem 0 0;
  border: none;
  .message {
    display: block;
    position: relative;
    width: 100%;
    min-height: 1.25rem;
    margin: 0.5rem 0 0;
    padding: 0;
    @include font-bold;
    font-size: 0.8rem;
    .error, .valid {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 0;
      opacity: 0;
      @include transition(all, 0.25s, ease);
    }
    .error {color: $error;}
    .valid {color: $valid;}
    .error.show, .valid.show {opacity: 1;}
  }
}

fieldset.checkbox,
fieldset.radio,
fieldset.toggle {
  .message {
    .error, .valid {padding: 0;}
  }
}


// INPUT, LABEL, PLACEHOLDER
input {
  width: 100%;
  min-height: 3rem;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid $dk-gray;
  border-radius: 0.25rem;
  cursor: text;
}

input:placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  transition: inherit;
}

label {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1rem);
  height: auto;
  margin: 0;
  padding: 0;
  @include font-bold;
  font-size: 1rem;
  background-color: $white;
  @include transform(translate(0.5rem, 2.25rem));
  @include transition(all, 0.25s, ease);
}

input:focus + label,
input:not(:placeholder-shown) + label {
  width: 100%;
  font-size: 0.8rem;
  background-color: transparent;
  @include transform(translate(0,0));
}

.input-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 3rem;
  svg {
    position: absolute;
    right: 0;
    fill: $primary;
  }
}


// SELECT
select {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 3rem;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid $dk-gray;
  border-radius: 0.25rem;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  @include appearance(none);
  @include transition(all, 0.25s, ease);
}

select option {
  overflow: hidden;
  text-overflow: ellipsis;
  @include appearance(none);
}

.select-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  height: 3rem;
  cursor: pointer;
}

label[for="select"] {
  font-size: 0.8rem;
  background-color: transparent;
  @include transform(translate(0,0));
}


// SHOW-HIDE PASSWORD
.show-hide-password {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 3rem;
  cursor: pointer;
  @include transition(all, 0.25s, ease);
  svg {
    position: absolute;
    right: 0;
    fill: $primary;
    @include transition(all, 0.25s, ease);
  }
  svg.show {opacity: 1;}
  svg.hide {opacity: 0;}
}

.show-hide-password.show {
  svg.show {opacity: 0;}
  svg.hide {opacity: 1;}
}