<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Navigation | The Delta Design System</title>
    <base href="../">
    <meta name="description" content="An open-source design system that can be used to build responsive sites, apps, and prototypes quickly.">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ovo&display=swap" rel="stylesheet">
    <style>
      body {
        opacity: 0;
        -webkit-transition: opacity 1.25s ease-in;
        -moz-transition: opacity 1.25s ease-in;
        -ms-transition: opacity 1.25s ease-in;
        -o-transition: opacity 1.25s ease-in;
        transition: opacity 1.25s ease-in;
      }

      body.visible {
        opacity: 1;
      }
    </style>
    <link rel="stylesheet" href="css/master.min.css">
  </head>

  <body>
    <div class="skip">
      <p><a href="components/navigation.html#content" class="skip">Skip to the main content on this page</a></p>
    </div>
    <header>
      <div class="logo">
        <a href="index.html">
          <svg style="display: grid; width: 100%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 796"><defs><style>.cls-1{fill:#01232d;}.cls-2{fill:#013342;}</style></defs><title>delta-design-system-logo</title><polygon class="cls-1" points="512 796 1024 796 512 0 512 796"></polygon><polygon class="cls-2" points="0 796 512 796 512 0 0 796"></polygon></svg>
        </a>
      </div>
      <nav aria-labelledby="header-navigation">
        <button class="menu-toggle" aria-expanded="false" aria-controls="header-navigation">
          <svg class="menu-toggle-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"></path></svg>
          <svg class="menu-toggle-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"></path></svg>
        </button>
        <ul id="header-navigation">
          <li><a href="pages/atoms.html">Atoms</a></li>
          <li><a href="pages/molecules.html">Molecules</a></li>
          <li><a href="pages/organisms.html">Organisms</a></li>
          <li><a href="pages/style.html">Style</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="banner short">
        <div class="text">
          <h1>Navigation</h1>
          <p>The &lt;nav&gt; element represents a section of a page whose purpose is to provide navigation links, either within the current document or to other documents. Common examples of navigation sections are menus, tables of contents, and indexes.</p>
          <p><cite><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav" target="_blank">&lt;nav&gt;</a> by <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav$history" target="_blank">Mozilla Contributors</a> is licensed under <a href="http://creativecommons.org/licenses/by-sa/2.5/" target="_blank">CC-BY-SA 2.5</a>.</cite></p>
        </div>
      </div>
      <article id="content">
        <section>
          <h2>Details</h2>
          <p>According to the <a href="https://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-navigation-basic" target="_blank">A11Y Style Guide</a>, all navigation elements should be inside a <code>&lt;nav&gt;</code> tag. Furthermore, menus should be labeled according to their individual function. The Delta Design System features a <code>&lt;nav&gt;</code> in the <code>&lt;header&gt;</code> and <code>&lt;footer&gt;</code> and uses <code style="white-space: normal;">aria-labelledby="header-navigation"</code> and <code style="white-space: normal;">aria-labelledby="footer-navigation"</code> to provide context and improve accessibility.</p>
        </section>
      </article>
    </main>
    <footer></footer>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="assets/scripts/headroom.js"></script>
    <script src="assets/scripts/site.js"></script>
    <script>
      $(document).ready(function () {
        $("body").addClass("visible");
      });
    </script>
  </body>

</html>