// BLOCKQUOTES
blockquote {
  display: block;
  position: relative;
  width: 100%;
  max-width: 36rem;
  margin: 2rem auto 2rem 0;
  padding: 1rem;
  border: 1px solid $lt-gray;
  p {
    padding: 0 0 0.5rem;
    @include font-bold;
    cite {
      padding: 0.5rem 0 0;
      font-size: 0.8rem;
    }
  }
  p:last-child {padding: 0;}
}

blockquote.center {margin: 2rem auto;}
blockquote.right {margin: 2rem 0 2rem auto;}

blockquote:before {
  display: block;
  position: absolute;
  top: -0.75rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 1.5rem;
  text-align: center;
  background-color: $white;
  content: url("../assets/icons/double-quotes-l.svg");
  @include transform(scale(1.5));
}

@media (min-width: 64rem) {
  blockquote {width: 90%;}
}