// CARDS
.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: 0;
    border: 1px solid $lt-gray;
    border-radius: 0.25rem;
    figure {padding: 0;
      img {border-radius: 0.25rem 0.25rem 0 0;}
      figcaption > cite {
        display: inline-block;
        padding: 0 1rem;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: $font-body-norm;
        text-transform: none;
      }
    }
    .text {
      padding: 1rem;
      width: 100%;
      h1, h2, h3, h4 {padding: 0;}
    }
  }
}

@media (min-width: 48rem) {
  .card-group {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
    .card {width: calc(50% - 2rem);}
  }
}

@media (min-width: 64rem) {
  .card-group {
    .card {width: calc(32.75% - 2rem);}
  }
}