// MEDIA GRID ITEMS
.media-grid-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;
  .media-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 0 2rem;
    figure {
      padding: 0;
      figcaption > cite {
        display: inline-block;
        padding: 1rem 0 0;
        @include font-body;
        font-size: 0.8rem;
        font-style: normal;
        text-transform: none;
      }
      figcaption > cite a {@include font-bold;}
    }
    .text {
      padding: 1rem 0 0;
      width: 100%;
      h1, h2, h3, h4 {padding: 0;}
    }
  }
  .media-grid-item:after {
    display: block;
    width: 100%;
    height: 1px;
    margin: 2rem 0 0;
    background-color: $lt-gray;
    content: "";
  }
}

@media (min-width: 48rem) {
  .media-grid-block {
    .media-grid-item {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      figure {width: 35%;}
      .text {
        width: 65%;
        padding: 0 0 0 2rem;
      }
    }
    .media-grid-item.reverse {
      flex-direction: row-reverse;
      .text {padding: 0 2rem 0 0;}
    }
  }
}

@media (min-width: 90rem) {
  .media-grid-block {
    width: 75%;
    margin: 0;
  }
  .media-grid-block.center {margin: 0 auto;}
}