// MIXINS
@mixin transition($property: all, $duration: 0.25s, $timing: ease-in-out, $delay: 0s) {
  -webkit-transition: $property $duration $timing $delay;
  -moz-transition: $property $duration $timing $delay;
  -ms-transition: $property $duration $timing $delay;
  -o-transition: $property $duration $timing $delay;
  transition: $property $duration $timing $delay;
};

@mixin transform($transform: all) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};


// DEMO COLORS
$pine: #34421e;
$gold: #c19434;
$gray: #f1f1ef;

.bg-pine {background-color: $pine;}
.bg-gold {background-color: $gold;}
.bg-gray {background-color: $gray;}

::-moz-selection {background: $pine;}
::selection {background: $pine;}

p a {color: $pine;}
p a:hover, p a:focus {color: $gold;}

p.icon a span svg {fill: $pine;}
p.icon a:hover span svg, p.icon a:focus span svg {fill: $gold;}


// BUTTONS
button, .button {
  border-color: $pine;
  background-color: $pine;
}

button:hover, button:focus, .button:hover, .button:focus {color: $pine;}


// HEADER
header {
  .logo {
    display: block;
    top: 2rem;
    left: 2rem;
    width: 6rem;
    margin: 0;
    svg {
      height: 100%;
      .word-mark {fill: $pine;}
    }
  }
  .logo.open {display: none;}
  nav {
    button.menu-toggle svg {fill: $pine;}
    ul li a {color: $pine;}
    ul li, ul li a:hover, ul li a:focus {color: $gold;}
  }
}

@media (min-width: 48rem) {
  header {
    .logo {
      position: absolute;
      top: 1rem;
      width: 8rem;
    }
    nav {
      justify-content: flex-end;
      ul li:last-child {padding: 0;}
    }
  }
}


// FOOTER
footer {
  padding: 4rem;
  background-image: url(../images/topography.png);
  background-repeat: repeat;
  nav {
    ul {
      li a {color: white;}
      li, li a:hover, li a:focus {color: $gold;}
    }
  }
  .brand-content {
    .logo {
      h2, p a {color: white;}
      p {
        font-size: 0.8rem;
        line-height: 1.25;
        text-align: center;
      }
      p a:hover, p a:focus {color: $gold;}
      svg {
        .back-pines {fill: $gold;}
        .mid-pines {fill: white;}
        .front-pines {fill: $pine;}
        .word-mark {fill: $pine;}
      }
    }
    .links {
      .social {
        width: auto;
        height: auto;
        a svg {
          width: 1.5rem;
          height: 1.5rem;
          fill: white;
        }
        a:hover svg, a:focus svg {fill: $gold;}
      }
    }
  }
  .copyright {
    p, p a {color: white;}
    p a {margin: 0 0 0 1rem;}
    p a:hover, p a:focus {color: $gold;}
  }
}

@media (min-width: 48rem) {
  footer {
    .brand-content {
      .logo {
        align-items: flex-end;
        h2, p {text-align: right;}
      }
      .links {
        justify-content: flex-end;
        .social {margin: 0 0 0 1rem;}
      }
    }
  }
}


// CARD IMAGE TRANSFORMATIONS
.card-group .card a figure {
  img {
    @include transition(all, 0.25s, ease);
    @include transform(scale(1));
  }
}

.card-group .card a:hover figure, .card-group .card a:focus figure {
  img {@include transform(scale(1.1));}
}


/* MENU */
dl.menu {
  dt {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    span {
      display: inline-flex;
      position: absolute;
      right: 0;
    }
    span:before {
      display: block;
      padding: 0 0.125rem 0 0;
      font-size: 0.8rem;
      content: "$"
    }
  }
  dd {
    width: 80%;
    margin: 0 0 1rem;
    padding: 0;
    font-size: 0.8rem;
  }
  dd:last-child {margin: 0;}
}