.bg-pine {
  background-color: #34421e; }

.bg-gold {
  background-color: #c19434; }

.bg-gray {
  background-color: #f1f1ef; }

::-moz-selection {
  background: #34421e; }

::selection {
  background: #34421e; }

p a {
  color: #34421e; }

p a:hover, p a:focus {
  color: #c19434; }

p.icon a span svg {
  fill: #34421e; }

p.icon a:hover span svg, p.icon a:focus span svg {
  fill: #c19434; }

.skip a {
  color: #34421e; }

.skip a:focus {
  color: #c19434; }

button, .button {
  border-color: #34421e;
  background-color: #34421e; }

button:hover, button:focus, .button:hover, .button:focus {
  color: #34421e; }

header .logo {
  display: block;
  top: 2rem;
  left: 2rem;
  width: 6rem;
  margin: 0; }
  header .logo svg {
    height: 100%; }
    header .logo svg .word-mark {
      fill: #34421e; }

header .logo.open {
  display: none; }

header nav button.menu-toggle svg {
  fill: #34421e; }

header nav ul li a {
  color: #34421e; }

header nav ul li, header nav ul li a:hover, header nav ul li a:focus {
  color: #c19434; }

@media (min-width: 48rem) {
  header .logo {
    position: absolute;
    top: 1rem;
    width: 8rem; }
  header nav {
    justify-content: flex-end; }
    header nav ul li:last-child {
      padding: 0; } }

footer {
  padding: 4rem;
  background-color: #34421e;
  /*
  background-image: url(../images/topography.svg);
  background-repeat: repeat;
*/ }
  footer nav ul li a {
    color: white; }
  footer nav ul li, footer nav ul li a:hover, footer nav ul li a:focus {
    color: #c19434; }
  footer .brand-content .logo h2, footer .brand-content .logo p a {
    color: white; }
  footer .brand-content .logo p {
    font-size: 0.8rem;
    line-height: 1.25;
    text-align: center; }
  footer .brand-content .logo p a:hover, footer .brand-content .logo p a:focus {
    color: #c19434; }
  footer .brand-content .logo svg .back-pines {
    fill: #c19434; }
  footer .brand-content .logo svg .mid-pines {
    fill: white; }
  footer .brand-content .logo svg .front-pines {
    fill: #34421e; }
  footer .brand-content .logo svg .word-mark {
    fill: #34421e; }
  footer .brand-content .links .social {
    width: auto;
    height: auto; }
    footer .brand-content .links .social a svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: white; }
    footer .brand-content .links .social a:hover svg, footer .brand-content .links .social a:focus svg {
      fill: #c19434; }
  footer .copyright p, footer .copyright p a {
    color: white; }
  footer .copyright p a {
    margin: 0 0 0 1rem; }
  footer .copyright p a:hover, footer .copyright p a:focus {
    color: #c19434; }

@media (min-width: 48rem) {
  footer .brand-content .logo {
    align-items: flex-end; }
    footer .brand-content .logo h2, footer .brand-content .logo p {
      text-align: right; }
  footer .brand-content .links {
    justify-content: flex-end; }
    footer .brand-content .links .social {
      margin: 0 0 0 1rem; } }

/* MENU */
dl.menu dt {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem; }
  dl.menu dt span {
    display: inline-flex;
    position: absolute;
    right: 0; }
  dl.menu dt span:before {
    display: block;
    padding: 0 0.125rem 0 0;
    font-size: 0.8rem;
    content: "$"; }

dl.menu dd {
  width: 80%;
  margin: 0 0 1rem;
  padding: 0;
  font-size: 0.8rem; }

dl.menu dd:last-child {
  margin: 0; }
