a {
  color: #c65069; }

p.icon a span svg {
  fill: #c65069; }

button, .button, a.button {
  border-color: #c65069;
  background-color: #c65069; }

button:hover, .button:hover, a.button:hover,
button:focus, .button:focus, a.button:focus {
  color: #c65069; }

footer .brand-content .links .social a svg {
  fill: #c65069; }

.bg-celestial {
  background-color: #98b4cf; }

.bg-elation {
  background-color: #abd1c9; }

.bg-cream {
  background-color: #eeefea; }

.bg-night {
  background-color: #24383f; }

.bg-pink {
  background-color: #c65069; }

.bg-sea {
  background-color: #33586d; }

.bg-sky {
  background-color: #abd1c9; }

::-moz-selection {
  background: #c65069; }

::selection {
  background: #c65069; }

header .logo svg .back-pines {
  fill: #98b4cf; }

header .logo svg .mid-pines {
  fill: #24383f; }

header .logo svg .front-pines {
  fill: #ffffff; }

header .logo svg .copy-mark {
  fill: #ffffff; }

footer .logo svg .back-pines {
  fill: #98b4cf; }

footer .logo svg .mid-pines {
  fill: #ffffff; }

footer .logo svg .front-pines {
  fill: #24383f; }

footer .logo svg .copy-mark {
  fill: #24383f; }

.text .logo {
  width: 25%;
  margin: 0 auto 1rem; }
  .text .logo svg {
    mix-blend-mode: lighten; }
    .text .logo svg .back-pines {
      fill: #ffffff;
      opacity: 0.5; }
    .text .logo svg .mid-pines {
      fill: #ffffff;
      opacity: 0.75; }
    .text .logo svg .front-pines {
      fill: #24383f; }
    .text .logo svg .copy-mark {
      fill: #24383f; }

header {
  background-color: #24383f; }
  header .logo {
    top: auto; }
  header nav {
    padding: 0 1rem; }
    header nav button.menu-toggle svg {
      fill: #ffffff; }
    header nav ul li a {
      color: #ffffff; }
    header nav ul li, header nav ul li a:hover, header nav ul li a:focus {
      color: #c65069; }

@media (min-width: 48rem) {
  header nav ul {
    font-size: 0.8rem; }
    header nav ul li {
      padding: 0 1rem 0 0; }
    header nav ul li:last-child {
      padding: 0; } }

main:after {
  background-color: transparent; }

.banner:first-of-type {
  z-index: inherit; }

@media (min-width: 48rem) {
  .banner.amenities .text {
    max-width: 100%; }
    .banner.amenities .text h2 {
      text-align: center; }
    .banner.amenities .text ul {
      column-count: 2;
      column-gap: 4rem; } }

footer {
  padding: 4rem;
  background-color: #24383f; }
  footer nav ul {
    font-size: 0.8rem;
    color: #c65069; }
    footer nav ul li a {
      color: #ffffff; }
    footer nav ul li a:hover, footer nav ul li a:focus {
      color: #c65069; }
  footer .brand-content .logo {
    padding: 1rem 0 0.25rem;
    text-align: center; }
    footer .brand-content .logo h2, footer .brand-content .logo p a {
      color: #ffffff; }
    footer .brand-content .logo p {
      padding: 0;
      font-size: 0.8rem; }
    footer .brand-content .logo p a:hover, footer .brand-content .logo p a:focus {
      color: #c65069; }
  footer .brand-content .links .social {
    width: 1.5rem;
    height: 1.5rem; }
    footer .brand-content .links .social svg {
      width: 1.5rem;
      height: 1.5rem; }
  footer .brand-content .links .social a svg {
    fill: #ffffff; }
  footer .brand-content .links .social a:hover svg, footer .brand-content .links .social a:focus svg {
    fill: #c65069; }
  footer .copyright p {
    color: #ffffff; }
  footer .copyright a {
    margin: 0 0 0 1rem;
    color: #ffffff; }
  footer .copyright a:hover, footer .copyright a:focus {
    color: #c65069; }

@media (min-width: 48rem) {
  footer {
    align-items: flex-start; }
    footer nav ul li {
      padding: 0 0 0.8rem; }
    footer .brand-content .logo {
      align-items: flex-end;
      padding: 0 0 0.25rem;
      text-align: right; }
    footer .brand-content .links {
      justify-content: flex-end; } }

/* LODGE */
dl.menu dt {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem; }
  dl.menu dt span {
    display: inline-flex;
    position: absolute;
    right: 0; }
  dl.menu dt span:before {
    display: block;
    padding: 0 0.125rem 0 0;
    font-size: 0.8rem;
    content: "$"; }

dl.menu dd {
  width: 80%;
  margin: 0 0 1rem;
  padding: 0;
  font-size: 0.8rem; }

dl.menu dd:last-child {
  margin: 0; }
