// GALLERY GRID
.gallery-grid {
  overflow-x: auto;
  ul {
    display: flex;
    flex-direction: row;
    width: fit-content;
    min-width: 100%;
    padding: 2rem 0 0;
    list-style: none;
    li {
      width: 14.375rem;
      height: 14.375rem;
      overflow: hidden;
      padding: 0;
      a {
        display: grid;
        height: 100%;
        img {
          width: auto;
          height: 100%;
          @include transition(all, 0.25s, ease);
        }
      }
      a:hover img, a:focus img {@include transform(scale(1.1));}
    }
    li.double {
      width: calc(14.375rem * 2);
      a img {height: 150%;}
    }
  }
  ul.margin {
    li {margin: 0 0 0 2rem;}
    li:last-child {margin: 0 2rem;}
  }
}