// COLORS
$demo-dk: #006838;
$demo-lt: #009345;

$white: #ffffff;

$celestial: #98b4cf; // baby blue
$elation: #abd1c9; // warm light gray
$cream: #eeefea; // called extra white
$night: #24383f; // dark blue
$pink: #c65069;
$sea: #33586d; // medium blue
$sky: #abd1c9; // like a seafoam green


// COLOR APPLICATION
a {color: $pink;}

p.icon a span svg {fill: $pink;}

button, .button, a.button {
  border-color: $pink;
  background-color: $pink;
}

button:hover, .button:hover, a.button:hover,
button:focus, .button:focus, a.button:focus {
  color: $pink;
}

footer .brand-content .links .social a svg {fill: $pink;}

.bg-celestial {background-color: $celestial;}
.bg-elation {background-color: $elation;}
.bg-cream {background-color: $cream;}
.bg-night {background-color: $night;}
.bg-pink {background-color: $pink;}
.bg-sea {background-color: $sea;}
.bg-sky {background-color: $sky;}


::-moz-selection {background: $pink;}

::selection {background: $pink;}


// LOGO COLORS
header .logo svg {
  .back-pines {fill: $celestial;}
  .mid-pines {fill: $night;}
  .front-pines {fill: $white;}
  .copy-mark {fill: $white;}
}

footer .logo svg {
  .back-pines {fill: $celestial;}
  .mid-pines {fill: $white;}
  .front-pines {fill: $night;}
  .copy-mark {fill: $night;}
}

.text .logo {
  width: 25%;
  margin: 0 auto 1rem;
  svg {
    mix-blend-mode: lighten;
    .back-pines {
      fill: $white;
      opacity: 0.5;
    }
    .mid-pines {
      fill: $white;
      opacity: 0.75;
    }
    .front-pines {fill: $night;}
    .copy-mark {fill: $night;}
  }
}


// HEADER
header {
  background-color: $night;
  .logo {top: auto;}
  nav {
    padding: 0 1rem;
    button.menu-toggle svg {fill: $white;}
    ul li a {color: $white;}
    ul li, ul li a:hover, ul li a:focus {color: $pink;}
  }
}

@media (min-width: 48rem) {
  header {
    nav {
      ul {
        font-size: 0.8rem;
        li {padding: 0 1rem 0 0;}
        li:last-child {padding: 0;}
      }
    }
  }
}


// MAIN
main:after {background-color: transparent;}

.banner:first-of-type {z-index: inherit;}


@media (min-width: 48rem) {
  .banner.amenities {
    .text {
      max-width: 100%;
      h2 {text-align: center;}
      ul {
        column-count: 2;
        column-gap: 4rem;
      }
    }
  }
}

// FOOTER
footer {
  padding: 4rem;
  background-color: $night;
  nav ul {
    font-size: 0.8rem;
    color: $pink;
    li a {color: $white;}
    li a:hover, li a:focus {color: $pink;}
  }
  .brand-content {
    .logo {
      padding: 1rem 0 0.25rem;
      text-align: center;
      h2, p a {color: $white;}
      p {
        padding: 0;
        font-size: 0.8rem;
      }
      p a:hover, p a:focus {color: $pink;}
    }
    .links {
      .social {
        width: 1.5rem;
        height: 1.5rem;
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      .social a svg {fill: $white;}
      .social a:hover svg, .social a:focus svg {fill: $pink;}
    }
  }
  .copyright {
    p {color: $white;}
    a {
      margin: 0 0 0 1rem;
      color: $white;
    }
    a:hover, a:focus {color: $pink;}
  }
}

@media (min-width: 48rem) {
  footer {
    align-items: flex-start;
    nav ul li {padding: 0 0 0.8rem;}
    .brand-content {
      .logo {
        align-items: flex-end;
        padding: 0 0 0.25rem;
        text-align: right;
      }
      .links {justify-content: flex-end;}
    }
  }
}


/* LODGE */
dl.menu {
  dt {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    span {
      display: inline-flex;
      position: absolute;
      right: 0;
    }
    span:before {
      display: block;
      padding: 0 0.125rem 0 0;
      font-size: 0.8rem;
      content: "$"
    }
  }
  dd {
    width: 80%;
    margin: 0 0 1rem;
    padding: 0;
    font-size: 0.8rem;
  }
  dd:last-child {margin: 0;}
}